:root {
    background: #0E0E0E;
    font-family: Arial, sans-serif;
    color: #C2C2C2;
    font-size: 14px;
}

.s-container {
    background: #F1F1F1;
    margin: -10px 10% 0 10%;
    padding: 5% 7% 5% 7%;
}

input {
    background: #F1F1F1;
    border: 0px double black;
    line-height: 115px;
    width: 80%; 
}

button {
    background: #F1F1F1;
    border: 0px double black;
    text-align: right;
}

#lupa {
    vertical-align: baseline;
}

/* Плейсхолдер */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #C2C2C2;
    font-size: 26px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #C2C2C2;
   opacity:  1;
   font-size: 26px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #C2C2C2;
   opacity:  1;
   font-size: 26px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #C2C2C2;
   font-size: 26px;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #C2C2C2;
   font-size: 26px;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #C2C2C2;
   font-size: 85px;
   font-weight: bold;
   vertical-align: middle;
}

:hover::placeholder { /* Most modern browsers support this now. */
    color:    #ec5a62;
 }

.column {
    width: 31%;
    display: inline-block;
    
}

.list-item {
    background: #EBEBED;
    padding: 3%;
    margin-right: 5%;
    margin-bottom: 2%;
    border-radius: 5px;
    height: 50px;
}

.list-item:hover {
    background: #E4E4E6;
    color: #ec5a62;
}

.list-item:hover img {
    transform: translateX(3px);
}

.list-item img {
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
}

.list-text {
    padding-left: 5%;
    display: inline-block;
    vertical-align: middle;
    width: 75%;
}

.list-item .list-item-img-sqr {
    border-radius: 0;
}

*{transition: all .1s ease-in;}